<!-- Title -->
<title>{{web_title}}</title>
<!-- Required Meta Tag -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="handheldfriendly" content="true" />
<meta name="MobileOptimized" content="width" />
<meta name="description" content="{{web_desc}}" />
<meta name="author" content="{{web_author}}" />
<meta name="keywords" content="{{web_keywords}}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{web_title}}" />
<meta property="og:url" content="{{web_url}}" />
<meta property="og:site_name" content="{{web_url}}" />
<link rel="canonical" href="{{web_url}}" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="X-ID-Compatible" http-equiv="X-ID-Compatible" content="{{csrfToken}}" />
<meta name="X-ID-Indonesia" http-equiv="X-ID-Compatible" content="{{datas.current_id}}" />

<!-- [Favicon] icon -->
<link rel="icon" href="../assets/images/favicon.svg" type="image/x-icon">
<!-- [Font] Family -->
<link rel="stylesheet" href="../assets/fonts/inter/inter.css" id="main-font-link" />
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css" />
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="../assets/fonts/feather.css" />
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="../assets/fonts/fontawesome.css" />
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="../assets/fonts/material.css" />
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="../assets/dist/bundle.css" id="main-style-link" />


{{> (includeCss) }}