<script src="../assets/js/plugins/simplebar.min.js"></script>
<script src="../assets/js/fonts/custom-font.js"></script>
<script src="../assets/js/plugins/feather.min.js"></script>
<script src="../assets/js/plugins/sweetalert2.all.min.js"></script>
<script src="../assets/dist/bundle.js"></script>

{{> (includeJs) }}