<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="../dashboard/index.html" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="../assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
                <span class="badge bg-light-success rounded-pill ms-2 theme-version">v2.0</span>
            </a>
        </div>
        <div class="navbar-content">
            <div class="card pc-user-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            {{#ifEquals datas.profile.photo_profile "default.png"}}
                            <img src="assets/images/user/avatar-2.jpg" alt="user-image"
                                class="user-avtar wid-45 rounded-circle" />
                            {{else}}
                            <img src="assets/upload/photoProfile/{{datas.profile.photo_profile}}" alt="user-image"
                                class="user-avtar wid-35 rounded-circle" />
                            {{/ifEquals}}
                        </div>
                        <div class="flex-grow-1 ms-3 me-2">
                            <h6 class="mb-0">Hi, {{truncate datas.profile.full_name 0}}</h6>
                            <small>{{datas.permission.role}}</small>
                        </div>

                    </div>

                </div>
            </div>

            <ul class="pc-navbar">
                {{#each datas.role_group.role_group_has_menu}}
                {{#if menus.sub_menus.length}}

                {{#each menus.access}}
                {{#ifEquals access_menu.access_name "read"}}
                <li class="pc-item pc-hasmenu">
                    <a href="{{../menus.url}}" class="pc-link">
                        <span class="pc-micon">
                            <svg class="pc-icon">
                                <use xlink:href="#{{../menus.icon}}"></use>
                            </svg>
                        </span>
                        <span class="pc-mtext">{{../menus.name}}</span>
                        <span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></span>
                    </a>
                    <ul class="pc-submenu" style="display: none;">
                        {{#each ../menus.sub_menus}}
                        {{#if sub_menus.sub_sub_menus.length}}
                        <li class="pc-item pc-hasmenu">
                            <a href="#" class="pc-link">{{name}}<span class="pc-arrow"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-chevron-right">
                                        <polyline points="9 18 15 12 9 6"></polyline>
                                    </svg></span></a>
                            <ul class="pc-submenu"
                                style="display: block; box-sizing: border-box; transition-property: height, margin, padding; transition-duration: 200ms; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;">
                                {{#each sub_menus.sub_sub_menus}}
                                <li class="pc-item"><a class="pc-link" href="{{sub_sub_menus.url}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        {{else}}
                        {{#each access}}
                        {{#ifEquals access_menu.access_name "read"}}
                        <li class="pc-item"><a class="pc-link" href="{{../url}}">{{../name}}</a></li>
                        {{/ifEquals}}
                        {{/each}}

                        {{/if}}
                        {{/each}}
                    </ul>
                </li>
                {{/ifEquals}}
                {{/each}}

                {{else}}
                {{#each menus.access}}
                {{#ifEquals access_menu.access_name "read"}}
                <li class="pc-item">
                    <a href="{{../menus.url}}" class="pc-link">
                        <span class="pc-micon">
                            <svg class="pc-icon">
                                <use xlink:href="#{{../menus.icon}}"></use>
                            </svg>
                        </span>
                        <span class="pc-mtext">{{../menus.name}}</span>
                    </a>
                </li>
                {{/ifEquals}}
                {{/each}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</nav>