<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pengaturan</a></li>
                    <li class="breadcrumb-item" aria-current="page">Menu</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Menu</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h5>Pengaturan Menu</h5>
                        <small>Tambahkan Menu</small>
                    </div>
                    <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                        <button data-pc-animate="blur" data-bs-toggle="modal" data-bs-target="#animateModal"
                            type="reset" class="btn btn-success"><i class="fas fa-plus-circle me-1"></i>Tambah
                            Menu</button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="tbl_menu" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th width="80%">Nama Menu</th>
                                <th width="40%">Url</th>
                                <th width="40%">Icon</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>

<div class="modal fade modal-animate" id="animateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="notification"></div>
                <form id="frm_add_menu" method="post" novalidate="novalidate">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group mb-3">
                        <label for="menu_name" class="form-label">NAMA MENU</label>
                        <input type="text" class="form-control" id="menu_name" name="menu_name" placeholder="Nama Menu"
                            required>
                        <div class="invalid-feedback">
                            Nama Menu Tidak Boleh Kosong
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="url_menu" class="form-label">URL MENU</label>
                        <input type="text" class="form-control" id="url_menu" name="url_menu" placeholder="Url Menu"
                            required>
                        <div class="invalid-feedback">
                            Nama Menu Tidak Boleh Kosong
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row align-items-center">
                            <div class="col-sm-6"><label for="icon_menu" class="form-label">ICON MENU</label></div>
                            <div class="col-sm-6 text-sm-end">
                                <label id="lbl_icon" for="icon_menu" data-action="add"
                                    class="form-label text-blue-500">Lihat Daftar Icon</label>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="icon_menu" name="icon_menu" placeholder="Icon Menu"
                            required>
                        <div class="invalid-feedback">
                            Icon Menu Tidak Boleh Kosong
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-success shadow-2">Tambah Menu</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="icon_modal" tabindex="-1" aria-labelledby="icon_modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4">Full screen modal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Custom Icon</h5>
                            <p>Use svg icon with <code>&lt;use&gt;</code> in you html code as given below</p>
                            <code>
                                &lt;svg class="pc-icon"&gt;
                                  &lt;use xlink:href="#custom-&lt;&lt; Copied code &gt;&gt;"&gt;&lt;/use&gt;
                                &lt;/svg&gt;
                              </code>
                        </div>
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <input type="text" id="icon-search" class="form-control mb-4"
                                        placeholder="search . . ">
                                </div>
                            </div>
                            <div class="i-main" id="icon-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-animate" id="edit_menu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="notification"></div>
                <form id="frm_edt_menu" method="post" novalidate="novalidate">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" name="_id">
                    <div class="form-group mb-3">
                        <label for="edt_menu_name" class="form-label">NAMA MENU</label>
                        <input type="text" class="form-control" id="edt_menu_name" name="edt_menu_name"
                            placeholder="Nama Menu" required>
                        <div class="invalid-feedback">
                            Nama Menu Tidak Boleh Kosong
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="edt_url_menu" class="form-label">URL MENU</label>
                        <input type="text" class="form-control" id="edt_url_menu" name="edt_url_menu"
                            placeholder="Url Menu" required>
                        <div class="invalid-feedback">
                            Nama Menu Tidak Boleh Kosong
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row align-items-center">
                            <div class="col-sm-6"><label for="icon_menu" class="form-label">ICON MENU</label></div>
                            <div class="col-sm-6 text-sm-end">
                                <label id="lbl_icon" for="icon_menu" data-action="edit"
                                    class="form-label text-blue-500">Lihat Daftar
                                    Icon</label>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="icon_menu" name="icon_menu" placeholder="Icon Menu"
                            required>
                        <div class="invalid-feedback">
                            Icon Menu Tidak Boleh Kosong
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-success shadow-2">Update Menu</button>
            </div>
            </form>
        </div>
    </div>
</div>