<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
    {{> header}}
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
    data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    {{> (content) }}

    <!-- Required Js -->


</body>
<!-- [Body] end -->
{{> js}}

</html>