/* Custom CSS for password input */
.password-input {
	position: relative;
}

/* Style for the eye icon */
.passwordToggle {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	cursor: pointer;
}

/* Style for the eye icon in its hidden state */
.passwordToggle.fa-eye-slash {
	color: #ccc;
}

/* Style for the eye icon in its visible state */
.passwordToggle.fa-eye {
	color: #007bff;
}

.notification-hidden {
	display: none;
	opacity: 0;
}
