
						<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
							data-pc-theme="light">
							<!-- [ Pre-loader ] start -->
							<div class="loader-bg">
								<div class="loader-track">
									<div class="loader-fill"></div>
								</div>
							</div>
							<!-- [ Pre-loader ] End -->
							<!-- [ Sidebar Menu ] start -->
							{{> sidebar}}
							<!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
							{{> top_nav}}
							<!-- [ Header ] end -->



							<!-- [ Main Content ] start -->
							<div class="pc-container">
								<div class="pc-content">
									{{> (_content)}}
								</div>

							</div>
							<!-- [ Main Content ] end -->
							{{> footer}}

						</body>
						