<div class="auth-main">
    <div class="auth-wrapper v2">
        <div class="auth-sidecontent">
            <img src="../assets/images/authentication/img-auth-sideimg.jpg" alt="images"
                class="img-fluid img-auth-side">
        </div>
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center">
                        {{#ifEquals web_logo "default.png"}}
                        <a href="#"><img src="../assets/images/logo-dark.svg" alt="img"></a>
                        {{else}}
                        OKE
                        {{/ifEquals}}
                    </div>
                    <div class="saprator my-3">

                    </div>
                    <h4 class="text-center f-w-500 mb-3">Login Untuk Melanjutkan</h4>
                    <div id="notification"></div>
                    <form id="frm_login" method="post" novalidate="novalidate">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="form-group mb-3">
                            <label class="form-label">NIP/NIK</label>
                            <input type="text" class="form-control" name="username_login" placeholder="NIP/NIK"
                                required>
                            <div class="invalid-feedback">
                                NIP/NIK Tidak Boleh Kosong
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            <div class="password-input">
                                <input type="password" class="form-control" id="password" name="password_login"
                                    placeholder="Password" autocomplete="password" required>
                                <i class="far fa-eye passwordToggle" id="passwordToggle"></i>
                                <div class="invalid-feedback">
                                    Password Tidak Boleh Kosong
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mt-1 justify-content-between align-items-center">
                            <div class="form-check">

                            </div>
                            <a href="#">
                                <h6 class="text-secondary f-w-400 mb-0">Lupa Password?</h6>
                            </a>
                        </div>
                        <div class="d-grid mt-4">
                            <button id="btn_loading" type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="d-flex justify-content-between align-items-end mt-4">
                            <a href="#">
                                <h6 class="f-w-500 mb-0">Belum Memiliki Akun?</h6>
                            </a>
                            <a href="#" class="link-primary">Aktivasi Akun</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>