<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb mb-3">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">Users</a></li>
                    <li class="breadcrumb-item" aria-current="page">Account Profile</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Account Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body py-0">
                <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab-1" data-bs-toggle="tab" href="#profile-1" role="tab"
                            aria-selected="true">
                            <i class="ti ti-user me-2"></i>Profil Pengguna
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-4" data-bs-toggle="tab" href="#ganti-password" role="tab"
                            aria-selected="true">
                            <i class="ti ti-lock me-2"></i>Ganti Kata Sandi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane show active" id="profile-1" role="tabpanel" aria-labelledby="profile-tab-1">
                <div class="row">
                    <div class="col-lg-5 col-xxl-4">
                        <div class="card">
                            <div class="card-body position-relative">

                                <div class="text-center mt-3">
                                    <div class="chat-avtar d-inline-flex mx-auto">

                                        {{#ifEquals datas.profile.photo_profile "default.png"}}
                                        <img class="rounded-circle img-fluid wid-70"
                                            src="../assets/images/user/avatar-5.jpg" alt="User image">
                                        {{else}}
                                        <img class="rounded-circle img-fluid wid-70"
                                            src="assets/upload/photoProfile/{{datas.profile.photo_profile}}"
                                            alt="{{datas.profile.full_name}}">

                                        {{/ifEquals}}
                                    </div>
                                    <h5 class="mb-0">{{datas.profile.full_name}}</h5>
                                    <p class="text-muted text-sm">{{datas.role_group.role_name}}</p>

                                    <hr class="my-3 border border-secondary-subtle">
                                    <div class="row g-3">
                                        <button type="reset" class="btn btn-sm btn-success"><i
                                                class="mt-1 ti ti-camera me-1"></i>Ganti Photo Profil</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Pengaturan</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-1">Verifikasi 2 Langkah</p>
                                                <p class="text-muted text-sm mb-0">Aktifkan Verifikasi 2 Langkah
                                                    <br>Untuk
                                                    Proses Login
                                                </p>
                                            </div>
                                            <div class="form-check form-switch p-0">
                                                <input class="form-check-input h4 position-relative m-0" type="checkbox"
                                                    role="switch" checked="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-1">Notifikasi Login</p>
                                                <p class="text-muted text-sm mb-0">Berikan Notifikasi ke Email<br>Jika
                                                    Akun
                                                    Anda Login Dari Perangkat Lain</p>
                                            </div>
                                            <div class="form-check form-switch p-0">
                                                <input class="form-check-input h4 position-relative m-0" type="checkbox"
                                                    role="switch" checked="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0 pb-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-1">Login Approvals</p>
                                                <p class="text-muted text-sm mb-0">Approvals is not required when login
                                                    from
                                                    unrecognized devices.</p>
                                            </div>
                                            <div class="form-check form-switch p-0">
                                                <input class="form-check-input h4 position-relative m-0" type="checkbox"
                                                    role="switch" checked="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xxl-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <h5>Detail Pengguna</h5>
                                    </div>
                                    <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                                        <button type="button" class="btn btn-sm btn-secondary d-inline-flex"><i
                                                class="mt-1 ti ti-edit me-1"></i>Edit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mb-1 text-muted">Nama Lengkap</p>
                                                <p class="mb-0">{{datas.profile.full_name}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mb-1 text-muted">Nomor Telepon</p>
                                                <p class="mb-0">{{datas.profile.phone}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mb-1 text-muted">Email</p>
                                                <p class="mb-0">{{datas.profile.email}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Daftar Perangkat</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {{#each datas.profile.session}}
                                        <li class="list-group-item px-0 pt-0">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="me-2">
                                                    <p class="mb-2">{{device.manufacturer}} {{device.type}}</p>
                                                    <p class="mb-0 text-muted">{{device.os_name}}</p>
                                                </div>
                                                <div class="">
                                                    {{#if current_active}}
                                                    <div class="text-success d-inline-block me-2">
                                                        <i class="fas fa-circle f-10 me-2"></i>
                                                        Device Saat ini
                                                    </div>
                                                    {{else}}
                                                    <div class="text-gray d-inline-block me-2">
                                                        <i class="fas fa-circle f-10 me-2"></i>
                                                        {{selisih login_time}}
                                                    </div>
                                                    {{/if}}

                                                    <a id="btn_delete_device" data-id="{{device.id}}" href="#!"
                                                        class="text-danger"><i class="feather icon-x-circle"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ganti-password" role="tabpanel" aria-labelledby="profile-tab-4">
                <div id="notification"></div>
                <form id="frm_change_password" method="post" novalidate="novalidate">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="card">
                        <div class="card-header">
                            <h5>Ganti Kata Sandi</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">kata sandi saat ini</label>
                                        <div class="password-input">
                                            <input type="password" class="form-control" id="old_password"
                                                name="old_password" placeholder="Password" autocomplete="password"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" required>
                                            <i class="far fa-eye passwordToggle" id="passwordToggle_old"></i>
                                            <div class="invalid-feedback">
                                                Kombinasi kata sandi tidak benar
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">kata sandi baru</label>
                                        <div class="password-input">
                                            <input type="password" class="form-control" id="new_password"
                                                name="new_password" placeholder="Password" autocomplete="password"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" required>
                                            <i class="far fa-eye passwordToggle" id="new_password_toggle"></i>
                                            <div class="invalid-feedback">
                                                Kombinasi kata sandi tidak benar
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">ulangi kata sandi baru</label>
                                        <div class="password-input">
                                            <input type="password" class="form-control" id="confirm_password"
                                                name="confirm_password" placeholder="Password" autocomplete="password"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" required>
                                            <i class="far fa-eye passwordToggle" id="confirm_password_toggle"></i>
                                            <div class="invalid-feedback">
                                                Kombinasi kata sandi tidak benar
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Kata sandi baru harus berisi:</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><i
                                                class="ti ti-circle-check text-success f-16 me-2"></i> Setidaknya 8
                                            Karakter</li>
                                        <li class="list-group-item"><i
                                                class="ti ti-circle-check text-success f-16 me-2"></i> Setidaknya 1
                                            huruf kecil (a-z)</li>
                                        <li class="list-group-item"><i
                                                class="ti ti-circle-check text-success f-16 me-2"></i> Setidaknya 1
                                            huruf besar (A-Z)</li>
                                        <li class="list-group-item"><i
                                                class="ti ti-circle-check text-success f-16 me-2"></i> Setidaknya 1
                                            angka (0-9)</li>
                                        <li class="list-group-item"><i
                                                class="ti ti-circle-check text-success f-16 me-2"></i> Setidaknya 1
                                            Spesial Karakter</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end btn-page">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>