<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
    data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ Main Content ] start -->
    <div class="maintenance-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card error-card">
                        <div class="card-body">
                            <div class="error-image-block">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <img class="img-fluid" src="../assets/images/pages/img-error-500.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h1 class="mt-4"><b>Anda Tidak Memiliki Akses</b></h1>
                                <p class="mt-2 mb-4 text-sm text-muted">Error 403, Anda Tidak Memiliki Akses Untuk
                                    Halaman Ini.
                                    Silahkan<br> Hubungi Administrator
                                    .</p>
                                <a href="/"><button type="button" class="btn btn-primary mb-3">ke Halaman
                                        Utama</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- [Body] end -->

</html>