<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
    {{> header}}
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
    data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ Main Content ] start -->
    <div class="maintenance-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card error-card">
                        <div class="card-body">
                            <div class="error-image-block">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <img class="img-fluid" src="../assets/images/pages/img-error-500.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h1 class="mt-4"><b>Internal Server Error</b></h1>
                                <p class="mt-2 mb-4 text-sm text-muted">Server error 500. we fixing the problem.
                                    please<br> try again at a later
                                    stage.</p>
                                <button type="button" class="btn btn-primary mb-3">Ke Halaman Utama</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    {{> js}}

    <script>layout_change('light');</script>




    <script>layout_theme_contrast_change('false');</script>



    <script>change_box_container('false');</script>


    <script>layout_caption_change('true');</script>




    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-1");</script>
</body>
<!-- [Body] end -->

</html>