<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pengaturan</a></li>
                    <li class="breadcrumb-item" aria-current="page">Hak Akses</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Hak Akses</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h5>Hak Akses</h5>
                        <small>Tambahkan Hak Akses Pada Sistem</small>
                    </div>
                    <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                        <button data-pc-animate="blur" data-bs-toggle="modal" data-bs-target="#animateModal"
                            type="reset" class="btn btn-success"><i class="fas fa-plus-circle me-1"></i>Tambah Hak
                            Akses</button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="tbl_hak_akses" class="table table-sm table-striped table-bordered nowrap"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th width="80%">Nama Hak Akses</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>

<div class="modal fade modal-animate" id="animateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Hak Akses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="notification"></div>
                <form id="frm_add_role_group" method="post" novalidate="novalidate">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group mb-3">
                        <label class="form-label">NAMA HAK AKSES</label>
                        <input type="text" class="form-control" name="role_group" placeholder="Nama Hak Akses" required>
                        <div class="invalid-feedback">
                            Nama Hak Akses Tidak Boleh Kosong
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-success shadow-2">Tambah Hak Akses</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modal-animate" id="edit_role_group" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Hak Akses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="notification"></div>
                <form id="frm_edt_role_group" method="post" novalidate="novalidate">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" name="_id">
                    <div class="form-group mb-3">
                        <label class="form-label">NAMA HAK AKSES</label>
                        <input type="text" class="form-control" name="edt_role_group" placeholder="Nama Hak Akses"
                            required>
                        <div class="invalid-feedback">
                            Nama Hak Akses Tidak Boleh Kosong
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-success shadow-2">Update Hak Akses</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="hak_akses" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4">Hak Akses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="hak_akses_body" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Simpan</button>
            </div>
        </div>
    </div>
</div>